<section class="main">
        <div class="layer">
            
            <div class="bottom-grid float-rt">
                       
                <br><br><br>
                <div class="links float-rt">
                    
                    <ul class="links-unordered-list">
                        <li class="active">
                            <a href="#">Notification</a>
                        </li>										
                        <li class="active">
                            <a routerLink="/mentorlogin" class="">Logout</a>
                        </li>				
                    </ul>
                </div><br>
            </div>
            <br>
            <div class="container">
                   
                    
                    <div class="container py-5">
                            <div class="row-xs-12">
                                    <div class="col-xs-12 ">
                                      <nav>
                                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                          
                                                <a class="nav-item nav-link" id="nav-ongoing-tab"  routerLink="/currenttrainings1" role="tab" aria-controls="nav-ongoing" aria-selected="false">Current Trainings</a>
                                                <a class="nav-item nav-link" id="nav-completed-tab"  routerLink="/completedtrainings1" role="tab" aria-controls="nav-completed" aria-selected="false">Completed Trainings</a>
                                                <a class="nav-item nav-link" id="nav-skills-tab"  routerLink="/mentoreditskills" role="tab" aria-controls="nav-skills" aria-selected="false">Edit Skills</a>
                                                <a class="nav-item nav-link" id="nav-payments-tab"  routerLink="/mentorpayments" role="tab" aria-controls="nav-payments" aria-selected="false">Payments</a>
                                        </div>
                                      </nav>
                                    </div><br><br><br><br><br>
                                    <div class="ly"style="background:transparent;padding-top:2%;padding-left:18%">
                                        <table class="table-hover table-striped table-dark table-sm">
                                            
                                          <thead>
                                            <tr>
                                              
                                              
                                              <th>Name</th>
                                              <th>User/Mentor</th>
                                              <th>Course</th>
                                              <th>Date of Completion</th>
                                              <th>Total Payment</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>                                          
                                              
                                              <td>Prasath</td>
                                              <td>User</td>
                                              <td>Kafka</td>
                                              <td>01/01/2015</td>
                                              <td>Rs.2000.00</td>
                                            </tr>
                                            <tr>
                                              
                                              <td>Nishanth</td>
                                              <td>User</td>
                                              <td>Bootstrap</td>
                                              <td>18/04/2015</td>
                                              <td>Rs.7000.00</td>
                                            </tr>
                                            <tr>
                                              
                                              <td>Hari</td>
                                              <td>Mentor</td>
                                              <td>AngularJs</td>
                                              <td>21/06/2015</td>
                                              <td>Rs.5600.00</td>
                                            </tr>
                                            <tr>
                                        
                                              <td>Ramesh</td>
                                              <td>Mentor</td>
                                              <td>NodeJs</td>
                                              <td>22/09/2015</td>
                                              <td>Rs.6500.00</td>
                                            </tr>
                                            <br><br>
                                            <tr>
                                        
                                                    <td>Jeeva</td>
                                                    <td>Mentor</td>
                                                    <td>VeuJs</td>
                                                    <td>23/04/2015</td>
                                                    <td>Rs.6000.00</td>
                                                  </tr>
                                          </tbody>
                                        </table>
                                        <input type="button" class="btn btn-default" value="Withdraw Amount">
                                      </div>>
                            </div><br><br>   
                    </div>
                    </div>
                </div>
            </section>