<section class="main">
        <div class="layer">
            
            <div class="bottom-grid float-rt">
                       
                <br>
                <div class="links float-rt">
                    
                    <ul class="links-unordered-list">
                        <li class="active">
                            <a href="#">Notification</a>
                        </li>										
                        <li class="active">
                            <a routerLink="/adminlogin" class="">Logout</a>
                        </li>				
                    </ul>
                </div><br>
            </div>
            
            <div class="container">
                   
                    
                    <div class="container py-5">
                            <div class="row-xs-12">
                                    <div class="col-xs-12 ">
                                      <nav>
                                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                          
                                                <a class="nav-item nav-link" id="nav-details-tab" routerLink="/admindashboard" onclick="drawTable();" role="tab" aria-controls="nav-ongoing" aria-selected="false">Details</a>
                                  <a class="nav-item nav-link" id="nav-block-tab"  routerLink="/adminblock" role="tab" aria-controls="nav-block" aria-selected="false">Block User/Mentor</a>
                                  <a class="nav-item nav-link" id="nav-payments-tab"  routerLink="/paymenthistory" role="tab" aria-controls="nav-payments" aria-selected="false">Payments</a>
                                        </div>
                                      </nav>
                                    </div>
                                    <br><br><br>
                                    <div class="ly"style="background:transparent;padding-top:2%;padding-left:18%">
                                        <table class="table-hover table-striped table-dark table-sm">
                                            
                                          <thead>
                                            <tr>
                                              
                                              
                                              <th>Name</th>
                                              <th>Course</th>
                                              <th>Date of Completion</th>
                                              <th>Total Payment</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>                                          
                                              
                                              <td>Prasath</td>
                                              <td>Kafka</td>
                                              <td>01/01/2015</td>
                                              <td>Rs.2000.00</td>
                                            </tr>
                                            <tr>
                                              
                                              <td>Roshan</td>
                                              <td>Bootstrap</td>
                                              <td>18/04/2015</td>
                                              <td>Rs.7000.00</td>
                                            </tr>
                                            <tr>
                                              
                                              <td>Hari</td>
                                              <td>AngularJs</td>
                                              <td>21/06/2015</td>
                                              <td>Rs.5600.00</td>
                                            </tr>
                                            <tr>
                                        
                                              <td>Jeeva</td>
                                              <td>NodeJs</td>
                                              <td>22/09/2015</td>
                                              <td>Rs.6500.00</td>
                                            </tr>
                                            <tr>
                                        
                                                    <td>Nishanth</td>
                                                    <td>VeuJs</td>
                                                    <td>11/07/2015</td>
                                                    <td>Rs.2500.00</td>
                                                  </tr>
                                                  <tr>
                                        
                                                        <td>Isha</td>
                                                        <td>mongoDB</td>
                                                        <td>2/06/2015</td>
                                                        <td>Rs.9500.00</td>
                                                      </tr>
                                            
                                                      <tr>
                                        
                                                            <td>Ramesh</td>
                                                            <td>EmbedJs</td>
                                                            <td>13/03/2015</td>
                                                            <td>Rs.2930.00</td>
                                                          </tr>
                                                          
                                            
                                      
                                                  
                                          </tbody>
                                          
                                        </table>
                                        
                                      </div>>
                            </div><br><br>   
                            
                    </div>
                    
                            
                   
            
                    </div>
                </div>
            </section>