<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-userlogin></app-userlogin>
<app-mentorlogin></app-mentorlogin>
<app-adminlogin></app-adminlogin>
<app-usersignup></app-usersignup>
<app-mentorsignup></app-mentorsignup> -->
<!-- <app-userlandingpage></app-userlandingpage> -->
<!-- <app-adminlandingpage></app-adminlandingpage> -->
<!-- <app-mentorlandingpage></app-mentorlandingpage> -->
<!-- <app-currenttrainings></app-currenttrainings> -->
<!-- <app-currenttrainings2></app-currenttrainings2> -->
<!--<app-completedtrainings></app-completedtrainings>
<app-completedtrainings2></app-completedtrainings2>
<app-mentoreditskills></app-mentoreditskills>
<app-mentorpayments></app-mentorpayments>
<app-trainerprofile></app-trainerprofile> -->
<!-- <app-searchresults></app-searchresults>  -->
<!-- <app-paymenthistory></app-paymenthistory>-->
<!-- <app-adminblock></app-adminblock> -->
<router-outlet></router-outlet> 
