<section class="main">
        <div class="layer">
            
            <div class="bottom-grid float-rt">
                       
                <br><br><br>
                <div class="links float-rt">
                    
                    <ul class="links-unordered-list">										
                        <li class="active">
                            <a routerLink="/userlogin" class="">Logout</a>
                        </li>				
                    </ul>
                </div><br>
            </div>
            <br>
            <div class="container">
                   
                    
                    <div class="container py-5">
                            <div class="row-xs-12">
                                    <div class="col-xs-12 ">
                                      <nav>
                                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                          <a class="nav-item nav-link" id="nav-search-tab"  routerLink="/userdashboard"  role="tab" aria-controls="nav-search" aria-selected="false">Search Courses</a>
                                          <a class="nav-item nav-link" id="nav-ongoing-tab"  routerLink="/currenttrainings" role="tab" aria-controls="nav-ongoing" aria-selected="false">Ongoing Trainings</a>
                                          <a class="nav-item nav-link" id="nav-completed-tab"  routerLink="/completedtrainings" role="tab" aria-controls="nav-completed" aria-selected="false">Completed Trainings</a>    
                                        </div>
                                      </nav>
                                    </div>
                                  </div><br>
                                  <br><br><br>
                                  <br>
                            <div class="row"> 
                                    <div class="col-xl-3 col-lg-5 mb-4" *ngFor = "let g of userCompleted|async">
                                            <div class="bg-white rounded-lg p-4 shadow">
                                              <h2 class="h6 font-weight-bold text-center mb-4">{{g.technology}}</h2>
                                      
                                              <!-- Progress bar 3 -->
                                              <div class="progress mx-auto" id="{{g.completedduration}}">
                                                <span class="progress-left">
                                                              <span class="progress-bar border-success"></span>
                                                </span>
                                                <span class="progress-right">
                                                              <span class="progress-bar border-success"></span>
                                                </span>
                                                <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                                  <div class="h2 font-weight-bold">{{g.completedduration}}<sup class="small">%</sup></div>
                                                </div>
                                              </div>
                                              <!-- END -->
                                      
                                              <!-- Demo info -->
                                              <div class="row text-center mt-4">
                                                <div class="col-6 border-right">
                                                  <div class="h4 font-weight-bold mb-0">{{g.lastweek}}%</div><span class="small text-gray">Last week</span>
                                                </div>
                                                <div class="col-6">
                                                  <div class="h4 font-weight-bold mb-0">{{g.lastmonth}}%</div><span class="small text-gray">Last month</span>
                                                </div>
                                              </div>
                                              <!-- END -->
                                            </div>
                                          </div>
    
                              <div class="col-xl-3 col-lg-5 mb-4">
                                <div class="bg-light rounded-lg p-4 shadow">
                                  <h2 class="h6 font-weight-bold text-center mb-4">{{g.technology}}</h2>                              
                                  <!-- Progress bar 1 -->
                                  <div class="progress mx-auto" id="{{g.completedduration}}">
                                    <span class="progress-left">
                                                  <span class="progress-bar border-primary"></span>
                                    </span>
                                    <span class="progress-right">
                                                  <span class="progress-bar border-primary"></span>
                                    </span>
                                    <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                      <div class="h2 font-weight-bold">{{g.completedduration}}<sup class="small">%</sup></div>
                                    </div>
                                  </div>
                                  <!-- END -->
                          
                                  <!-- Demo info -->
                                  <div class="row text-center mt-4">
                                    <div class="col-6 border-right">
                                      <div class="h4 font-weight-bold mb-0">{{g.lastweek}}%</div><span class="small text-gray">Last week</span>
                                    </div>
                                    <div class="col-6">
                                      <div class="h4 font-weight-bold mb-0">{{g.lastmonth}}%</div><span class="small text-gray">Last month</span>
                                    </div>
                                  </div>
                                  <!-- END -->
                                </div>
                              </div>
                          
                              <div class="col-xl-3 col-lg-5 mb-4">
                                <div class="bg-white rounded-lg p-4 shadow">
                                  <h2 class="h6 font-weight-bold text-center mb-4">{{g.technology}}</h2>
                          
                                  <!-- Progress bar 2 -->
                                  <div class="progress mx-auto" id="{{g.completedduration}}">
                                    <span class="progress-left">
                                                  <span class="progress-bar border-danger"></span>
                                    </span>
                                    <span class="progress-right">
                                                  <span class="progress-bar border-danger"></span>
                                    </span>
                                    <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                      <div class="h2 font-weight-bold">{{g.completedduration}}<sup class="small">%</sup></div>
                                    </div>
                                  </div>
                                  <!-- END -->
                          
                                  <!-- Demo info-->
                                  <div class="row text-center mt-4">
                                    <div class="col-6 border-right">
                                      <div class="h4 font-weight-bold mb-0">{{g.lastweek}}%</div><span class="small text-gray">Last week</span>
                                    </div>
                                    <div class="col-6">
                                      <div class="h4 font-weight-bold mb-0">{{g.lastmonth}}%</div><span class="small text-gray">Last month</span>
                                    </div>
                                  </div>
                                  <!-- END -->
                                </div>
                              </div>
                          
                              
                          
                              <div class="col-xl-3 col-lg-5 mb-4">
                                <div class="bg-white rounded-lg p-4 shadow">
                                  <h2 class="h6 font-weight-bold text-center mb-4">{{g.technology}}</h2>
                          
                                  <!-- Progress bar 4 -->
                                  <div class="progress mx-auto" id="{{g.completedduration}}">
                                    <span class="progress-left">
                                                  <span class="progress-bar border-warning"></span>
                                    </span>
                                    <span class="progress-right">
                                                  <span class="progress-bar border-warning"></span>
                                    </span>
                                    <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
                                      <div class="h2 font-weight-bold">{{g.completedduration}}<sup class="small">%</sup></div>
                                    </div>
                                  </div>
                                  <!-- END -->
                          
                                  <!-- Demo info -->
                                  <div class="row text-center mt-4">
                                    <div class="col-6 border-right">
                                      <div class="h4 font-weight-bold mb-0">{{g.lastweek}}%</div><span class="small text-gray">Last week</span>
                                    </div>
                                    <div class="col-6">
                                      <div class="h4 font-weight-bold mb-0">{{g.lastmonth}}%</div><span class="small text-gray">Last month</span>
                                    </div>
                                  </div>
                                  <!-- END -->
                                </div>
                              </div>
                            </div>
                          </div>
              </div>
            </div>
            </section>