<section class="main">
        <div class="layer">
            
            <div class="bottom-grid float-rt">
                       
                <br><br><br>
                <div class="links float-rt">
                    
                    <ul class="links-unordered-list">
                        <li class="active">
                            <a href="#">Notification</a>
                        </li>										
                        <li class="active">
                            <a routerLink="/mentorlogin" class="">Logout</a>
                        </li>				
                    </ul>
                </div><br>
            </div>
            <br>
            <div class="container">
                   
                    
                    <div class="container py-5">
                            <div class="row-xs-12">
                                    <div class="col-xs-12 ">
                                      <nav>
                                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                          
                                                <a class="nav-item nav-link" id="nav-ongoing-tab"  routerLink="/currenttrainings1" role="tab" aria-controls="nav-ongoing" aria-selected="false">Current Trainings</a>
                                                <a class="nav-item nav-link" id="nav-completed-tab"  routerLink="/completedtrainings1" role="tab" aria-controls="nav-completed" aria-selected="false">Completed Trainings</a>
                                                <a class="nav-item nav-link" id="nav-skills-tab"  routerLink="/mentoreditskills" role="tab" aria-controls="nav-skills" aria-selected="false">Edit Skills</a>
                                                <a class="nav-item nav-link" id="nav-payments-tab"  routerLink="/mentorpayments" role="tab" aria-controls="nav-payments" aria-selected="false">Payments</a>
                                        </div>
                                      </nav>
                                    </div>
                            </div><br><br><br><br>
                                    <div class="row" style="background:transparent;padding-top:2%;padding-left:12%">
                                      <div class="col-md-9 personal-info">
                                        <form class="form-horizontal" role="form">
                                          <div class="form-group">
                                            <label class="col-lg-3 control-label">Name :</label>
                                            <div class="col-lg-8">
                                              <input class="form-control" type="text" value="Prasath">
                                            </div>
                                          </div>
                                          <div class="form-group">
                                                <label class="col-lg-3 control-label">Email:</label>
                                                <div class="col-lg-8">
                                                  <input class="form-control" type="text" value="prasathmsc@gmail.com">
                                                </div>
                                          </div>
                                          <div class="form-group">
                                            <label class="col-lg-3 control-label">Skills</label>
                                            <div class="col-lg-8">
                                              <input class="form-control" type="text" value="Jquery/Bootstrap/NodeJs/AngularJS">
                                            </div>
                                          </div>                                  
                                          <div class="form-group">
                                            <label class="col-lg-3 control-label">Fees Structure</label>
                                            <div class="col-lg-8">
                                              <div class="ui-select">
                                                <select id="fees-structure" class="form-control">
                                                  <option value="300/hr">Rs.300/hr</option>
                                                  <option value="350/hr">Rs.350/hr</option>
                                                  <option value="375/hr" selected="selected">Rs.375/hr</option>
                                                  <option value="400/hr">Rs.400/hr</option>
                                                  <option value="475/hr">Rs.475/hr</option>
                                                  <option value="550/hr">Rs.550/hr</option>
                                                  <option value="600/hr">Rs.600/hr</option>
                                                  <option value="800/hr">Rs.800/hr</option>
                                                </select>
                                              </div>
                                            </div>
                                          </div>
                                          <div class="form-group">
                                            <label class="col-md-3 control-label">Certification:</label>
                                            <div class="col-md-8">
                                              <select id="fees-structure" class="form-control">
                                                <option value="OCP" selected="selected">Oracle Certified Professional</option>
                                                <option value="OCA">Oracle Certified Associate</option>
                                                <option value="OCE">Oracle Certified Expert</option>
                                                <option value="OCM">Oracle Certified Master</option>
                                                <option value="AWS1">AWS Certified Solutions Architect</option>
                                                <option value="AWS2">AWS Certified Developer /option>
                                                <option value="AWS3">AWS Certified DevOps Engineer</option>
                                                <option value="AWS4">AWS Certified SysOps Administrator</option>
                                              </select>
                                            </div>
                                          </div>
                                          <div class="form-group">
                                            <label class="col-md-3 control-label">Available:</label>
                                            <div class="col-md-8">
                                              <input class="form-control" type="text" value="6 months">
                                            </div>
                                          </div>
                                          <div class="form-group">
                                            <label class="col-md-3 control-label">Password:</label>
                                            <div class="col-md-8">
                                              <input class="form-control" type="password" value="11111122333">
                                            </div>
                                          </div>
                                          <div class="form-group">
                                            <label class="col-md-3 control-label"></label>
                                            <div class="col-md-8">
                                              <input type="button" class="btn btn-primary" value="Save Changes">
                                              <span></span>
                                              <input type="reset" class="btn btn-default" value="Cancel">
                                            </div>
                                          </div>
                                        </form>
                                      </div>
                                  </div>
                                </div>
                            
                   
            
            </div>
        </div>
    </section>